
@font-face {
  font-family: 'Metropolis-Regular';
  src: url(./assets/fonts/metropolis/Metropolis-Regular.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Metropolis-Medium';
  src: url(./assets/fonts/metropolis/Metropolis-Medium.otf) format('opentype');
  font-weight: 500;
}
/* @font-face {
  font-family: 'Metropolis-Bold';
  src: url(./assets/fonts/metropolis/Metropolis-Bold.otf) format('opentype');
  font-weight: 700;
} */

:root {
  font-family: 'Metropolis-Bold';
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

